{# 
Swiper Component

Gebruik:
{{ swiper(slides, settings, template) }}

Parameters:
- slides (array, vereist): De inhoud van de slides (HTML per slide).
- settings (array, optioneel): Configuratie-instellingen voor de Swiper-instantie.
  - direction (string): Richting van de slider ('horizontal', 'vertical'). Standaard: 'horizontal'.
  - loop (bool): Of de slides in een loop moeten worden weergegeven. Standaard: false.
  - slidesPerView (int): Aantal slides dat tegelijkertijd zichtbaar is. Standaard: 1.
  - spaceBetween (int): Ruimte tussen de slides (in pixels). Standaard: 0.
  - loopAdditionalSlides (int): Extra slides in de loop. Standaard: 0.
  - centeredSlides (bool): Slides centreren. Standaard: false.
  - speed (int): Overgangssnelheid in milliseconden. Standaard: 500.
  - autoplay (bool|object): Automatische weergave. Standaard: false.
  - arrows (bool): Pijlen tonen voor navigatie. Standaard: true.
  - dots (bool): Navigatiedots tonen. Standaard: false.
  - arrowPrevIcon (string): Icoonbestandsnaam voor de vorige-knop (zonder .svg), bv. 'arrow-left'.
  - arrowNextIcon (string): Icoonbestandsnaam voor de volgende-knop (zonder .svg), bv. 'arrow-right'.
  - arrowIconStyle (string): Icon-stijlmap binnen de library ('light', 'regular', 'brands'). Standaard: 'light'.
  - breakpoints (object): Responsieve instellingen op basis van schermgrootte.
- template (string, optioneel): Twig-template voor individuele slides. Standaard: 'tease.twig'.

Voorbeelden:

1. Basisvoorbeeld:
   {{ swiper(item.slides, {
	   slidesPerView: 1,
	   spaceBetween: 20
   }) }}

2. Geavanceerd voorbeeld met specifieke tease-template:
   {{ swiper(item.slides, {
	   slidesPerView: 1,
	   spaceBetween: 20,
	   arrows: true,
	   dots: false,
	   loop: false,
	   overflowHidden: false,
	   nextSlideVisible: true,
	   class: '',
	   arrowPrevIcon: 'arrow-left',
	   arrowNextIcon: 'arrow-right',
	   arrowIconStyle: 'light',
	   breakpoints: {
		   768: { slidesPerView: 3, spaceBetween: 10 }
	   }
   }, 'tease.twig') }}
#}

<div class="swiper-container js-swiper {{ settings.class }}" data-swiper-id="{{ swiper_id }}" data-swiper-settings='{{ settings|json_encode|raw }}'{% if mobile_list_gap %} style="--swiper-mobile-list-gap: {{ mobile_list_gap }};"{% endif %}>
	<div class="swiper-wrapper">
		{% for slide in slides %}
			<div class="swiper-slide">{{ slide|raw }}</div>
		{% endfor %}
	</div>
	{% if settings.arrows %}
		{% set icon_style = settings.arrowIconStyle|default('light') %}
		{% if icon_style == 'solid' %}
			{% set icon_style = 'light' %}
		{% endif %}
		{% set prev_icon = settings.arrowPrevIcon|default('arrow-left')|trim|split(' ')|last|replace({'fa-': ''}) %}
		{% set next_icon = settings.arrowNextIcon|default('arrow-right')|trim|split(' ')|last|replace({'fa-': ''}) %}
		<div class="swiper-button-prev swiper-button-prev-{{ swiper_id }}">
			{{ icon({
				icon: prev_icon,
				style: icon_style,
				library: 'fontawesome',
				icon_wrapper_height: 20,
				icon_wrapper_width: 20,
				gap: 0,
				class: 'swiper-nav-icon'
			}) }}
		</div>
		<div class="swiper-button-next swiper-button-next-{{ swiper_id }}">
			{{ icon({
				icon: next_icon,
				style: icon_style,
				library: 'fontawesome',
				icon_wrapper_height: 20,
				icon_wrapper_width: 20,
				gap: 0,
				class: 'swiper-nav-icon'
			}) }}
		</div>
	{% endif %}
	{% if settings.dots %}
		<div class="swiper-pagination"></div>
	{% endif %}
</div>
