<a href="{{ fn('get_permalink', item.ID) }}" class="tease" id="tease-{{ item.id }}">
	<div class="card p-4 border-0 bg-orangelight">
		{{ image(get_thumbnail(item.ID), {
			figure_class: 'rounded bg-orange',
			img_class: 'rounded',
			ratio: '16x9',
			object_fit: 'cover',
			lazyload: true,
			show_caption: false,
			caption_position: 'on-right'
		}) }}
		<div data-mh>
			{{ heading(item.post_title, {
				level: 'h3',
				class: 'h4 mt-0 mb-0'
			}) }}
			{{ text(item.post_date|date('d F Y'), {
				max_length: 100
			}) }}
			{{ text(item.post_excerpt|strip_html, {
				class: 'd-none d-xl-block'
			}) }}
			Uren: {{ item.uren }}
			Prijs: {{ item.prijs }}
			{% set vakgebied = item.get_terms('vakgebied')|first %}
			{% if vakgebied %}
			 	 Vakgebied: {{ vakgebied }}
			{% endif %}
		</div>
		<i class="fal fa-arrow-right text-right"></i>
	</div>
</a>