<article {{ fn('post_class', ['entry'] ) }}>

	{% set product_data = timber_set_product(post) %}

	<div class="media">

		<div class="media-figure {% if not product_data.thumbnail %}placeholder{% endif %}">
			<a href="{{ post.link }}">
				{% if product_data.thumbnail %}
					<figure class="position-relative rounded bg-orange ratio ratio-3x2">
						<img src="{{ product_data.thumbnail }}" alt="{{ post.title }}" class="rounded" style="width: 100%; height: 100%; object-fit: cover;" />
					</figure>
				{% else %}
					<span class="thumb-placeholder"><i class="icon-camera"></i></span>
				{% endif %}
			</a>
			{% if not product_data.is_in_stock %}
				<span class="badge bg-danger out-of-stock">Uitverkocht</span>
			{% endif %}
		</div>

		<div class="media-content">

			{% if post.title %}
				<h3 class="h4 entry-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
			{% else %}
				<h3 class="h4 entry-title"><a href="{{ post.link }}">{{ fn('the_title') }}</a></h3>
			{% endif %}

			<p class="price">{{ product_data.price_html }}</p>
			{% if product_data.is_in_stock %}
				<p class="stock">{{ product_data.stock_quantity }} op voorraad</p>
			{% else %}
				<p class="stock text-danger">Uitverkocht</p>
			{% endif %}

			{% do action('woocommerce_after_shop_loop_item') %}

		</div>

	</div>

</article>