{# 
Social Media Links Component

Gebruik:
{{ social_media_links(links, options) }}

Parameters:
- links (array, vereist): Associatieve array met de sociale media naam als sleutel, URL als waarde, en optionele `suffix` als een nested array.
  Voorbeeld:
  {
	facebook: { url: 'https://facebook.com', suffix: 'f' },
	instagram: { url: 'https://instagram.com' }
  }
- options (array, optioneel): Extra instellingen, met:
  - show_icons (bool, optioneel): Of iconen moeten worden weergegeven (standaard: true).
  - class (string, optioneel): Extra CSS-klassen voor de container (standaard: 'social-links').

Voorbeelden:

1. Zonder iconen:
   {{ social_media_links({
	   facebook: { url: 'https://facebook.com' },
	   instagram: { url: 'https://instagram.com' }
   }, {
	   show_icons: false
   }) }}

2. Met iconen en een suffix:
   {{ social_media_links({
	   linkedin: { url: 'https://linkedin.com', suffix: 'in' },
	   facebook: { url: 'https://facebook.com', suffix: 'f' }
   }, {
	   show_icons: true,
	   class: 'custom-social-links'
   }) }}
#}

<ul class="{{ class }}">
	{% for name, details in links %}
		{% set url = details.url %}
		{% set suffix = details.suffix ?: '' %}
		<li>
			<a href="{{ url }}" target="_blank" rel="noopener">
				{% if show_icons %}
					<i class="fab fa-{{ name }}{{ suffix ? '-' ~ suffix }}"></i>
				{% endif %}
				{{ name|capitalize }}
			</a>
		</li>
	{% endfor %}
</ul>