{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
<section class="bg-greylight">
	<div class="container">
		<div class="mb-5">
			<h2>{{ title }}</h2>
		</div>
		<form data-filter-form data-post-type="{{ post_type }}">
			<div class="row">
				<div class="col-md-4">
					Home / Vacatures
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-sm">
							xx resultaten gevonden
						</div>
						<div class="col-sm-auto">
							<div class="mb-3">
								{{ sort_select(filters.sort, {
									layout: 'horizontal',
								   options: {
									 'relevance': 'Relevantie',
									 'date_desc': 'Nieuwste eerst',
									 'date_asc': 'Oudste eerst',
									 'title_asc': 'Titel A-Z',
									 'title_desc': 'Titel Z-A'
								   }
								 }) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="row mb-4">
						<div class="col">
							<h4 class="m-0"> Filteren </h4>
						</div>
						<div class="col-auto">
							<button type="reset" class="btn btn-sm btn-outline-secondary" data-filter-reset>
								Reset filters
							</button>
						</div>
					</div>

					<input type="text" name="s" class="form-control mb-4" placeholder="Zoek op trefwoord..." value="{{ filters.s.value|e }}">
					
					{{ filter(filters.uren, {
					  limit_options: 5,
					  option_list_expand_label: 'Meer opties',
					  option_list_collapse_label: 'Minder opties',
					  placeholder: 'Maak een keuze',
					  layout: 'horizontal',
					  show_field_label: true,
					  show_option_counts: true
					}) }}
						
					{{ filter(filters.prijs) }}
					{{ filter(filters.vakgebied) }}
				</div>
				<div class="col-md-8">
				  <div class="position-relative">
					<div id="filter-loader" data-filter-loader class="filter-overlay d-none">
					  <div class="spinner-border text-secondary" role="status" aria-hidden="true"></div>
					</div>
					
					<div id="filter-results">
					  <div class="row">
						{% include 'partials/list.twig' %}
					  </div>
					</div>
					
					{% if current_page < max_num_pages %}
					  <div class="text-center mt-4">
						<button type="button" class="btn btn-primary" data-load-more>
						  Laad meer
						</button>
					  </div>
					{% endif %}
				  </div>
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}