{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
<section class="bg-greylight">
	<div class="container">
		<div class="text-center mb-5">
			<h2>{{ title }}</h2>
		</div>
		<form data-filter-form data-post-type="{{ post_type }}">
			<div class="row">
				<div class="col-md-4">
					<h4> Filteren </h4>
					<input type="text" name="s" class="form-control" placeholder="Zoek op trefwoord..." value="{{ filters.s.value|e }}">
					<br>
					{{ filter(filters.uren, {
						label: 'Uren kiezen',
						type: 'multiselect',
						show_label: true,
						limit: 3,
						more_label: 'Bekijk alle opties'
						}) }}
					
					{{ filter(filters.prijs) }}
					{{ filter(filters.vakgebied) }}
				</div>
				<div class="col-md-8">
					<div id="filter-results">
					{% include 'partials/list.twig' %}
					</div>
					{% if current_page < max_num_pages %}
					  <div class="text-center mt-4">
						<button type="button" class="btn btn-primary" data-load-more>
						  Laad meer
						</button>
					  </div>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}