<footer id="footer">
	{% if options.footer_calltoaction_titel or options.footer_calltoaction_tekst or options.footer_calltoaction_link %}
		<div class="calltoaction bg-primary text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
						{{ heading(options.footer_calltoaction_titel, {
							level: 'h3',
							inview_animation: 'word-rise',
							inview_animation_speed: 0.5
						}) }}
						{{ text(options.footer_calltoaction_tekst) }}
						<br>
						{{ button(options.footer_calltoaction_link, 'outline-dark') }}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="footer bg-dark text-light">
		{% set footer_menus = footer_menus|default([]) %}
		<div class="container">
			<div class="footer-main row justify-content-between gy-5">
				<div class="col-lg-4 text-center text-lg-start">
					<a href="{{ site.url }}" class="footer-brand">
						<img src="{{ theme.link }}/assets/images/emonks-color.svg" alt="{{ site.name }}" height="48">
					</a>
					<div class="footer-address">
						{{ text(options.footer_navigatie_tekst) }}
					</div>
				</div>
				<div class="col-lg-7 col-xxl-6">
					<div class="footer-menu-grid" style="--footer-menu-columns: {{ footer_menus|length > 0 ? footer_menus|length : 1 }};">
						{% for menu in footer_menus %}
							{% set menu_items = menu.get_items %}
							<div>
								<nav class="footer-nav" aria-label="{{ menu.name|default(menu.title)|default('Navigatie') }}">
									<h5 class="footer-title">{{ menu.name|default(menu.title)|default('Navigatie') }}</h5>
									{% if menu_items %}
										<ul class="footer-menu list-unstyled">
											{% for item in menu_items %}
												<li>
													<a href="{{ item.link }}" {% if item.target %}target="{{ item.target }}" rel="noopener"{% endif %}>{{ item.title }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</nav>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			{% include "partials/footer-meta.twig" with { show_policy_links: true } %}
		</div>
	</div>
</footer>
