<footer id="footer">
	 {% if options.footer_calltoaction_titel or options.footer_calltoaction_tekst or options.footer_calltoaction_link %}
	 <div class="calltoaction bg-primary text-white text-center">
			<div class="container">
				 <div class="row">
						<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
							 {{ heading(options.footer_calltoaction_titel, {
							 level: 'h3'
							 }) }}
							 {{ text(options.footer_calltoaction_tekst) }}
							 <br>
							 {{ button(options.footer_calltoaction_link, 'outline-light') }}
						</div>
				 </div>
			</div>
	 </div>
	 {% endif %}
	 <div class="footer bg-dark">
			<div class="container">
				 <div class="row mb-5">
						<div class="col-6 col-md-3 offset-md-2 offset-lg-3 mb-4 mb-md-0">
							 {{ heading(options.footer_navigatie_menu_titel, {
							 	level: 'h5'
							 }) }}
							 <nav aria-label="Footer navigation">
									{% include "partials/menu-clean.twig" with {'items': footermenu.get_items} %}
							 </nav>
						</div>
						<div class="col-6 col-md-3 col-lg-2 mb-4 mb-md-0">
							{{ heading(options.footer_navigatie_socialmedia_titel, {
								level: 'h5'
							}) }}
							<ul class="list-unstyled">
								<li>
									{{ icon({
										icon: 'facebook',
										style: 'brands',
										icon_wrapper_height: 22,
										icon_wrapper_width: 22,
										title: 'Facebook',
										url: options.facebook,
										title_position: 'top'
									}) }}
								</li>
								<li>
									{{ icon({
										icon: 'instagram',
										style: 'brands',
										icon_wrapper_height: 22,
										icon_wrapper_width: 22,
										title: 'Instagram',
										url: options.facebook,
										title_position: 'right'
									}) }}
								</li>
								<li>
									{{ icon({
										icon: 'linkedin',
										style: 'brands',
										icon_wrapper_height: 22,
										icon_wrapper_width: 22,
										title: 'Linkedin',
										url: options.facebook,
										title_position: 'left'
									}) }}
								</li>
								<li>
									{{ icon({
										icon: 'x-twitter',
										style: 'brands',
										icon_wrapper_height: 22,
										icon_wrapper_width: 22,
										title: 'X',
										url: options.facebook,
										title_position: 'bottom'
									}) }}
								</li>
							</ul>
						</div>
						<div class="col-md-4 order-md-first text-center text-md-start">
							 <img height="30" src="{{ theme.link }}/assets/images/emonks-color.svg" alt="{{ site.name }}" class="mb-3">
							 {{ text(options.footer_navigatie_tekst) }}
						</div>
				 </div>
				 <div class="subfooter text-center text-md-start">
						<div class="">©{{"now"|date('Y')}} All rights reserved {{ site.title}} </div>
						<div class="text-sm">Website door <a href="https://www.emonks.nl/" target="_blank" rel="nofollow">Emonks</a> </div>
				 </div>
			</div>
	 </div>
</footer>