{% if show_topbar %}
<div class="topbar d-none d-lg-flex align-items-center">
	<div class="container">
		<div class="row w-100 g-2">
			<div class="col small d-flex align-items-center">
				{{ site.description }}
			</div>
			{% if servicemenu %}
			<div class="col-auto d-flex align-items-center">
				<nav aria-label="Service navigation">
					{% include "partials/menu-horizontal.twig" with {'items': servicemenu.get_items} %}
				</nav>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}

<header class="header d-flex align-items-center" role="banner">
	<div class="container">
		<div class="row w-100 g-2">
			<div class="col d-flex align-items-center">
				<a class="header-brand" href="{{ site.url }}" rel="home">
					<span class="d-none">{{ site.name }}</span>
					<img height="30" src="{{ theme.link }}/assets/images/emonks-color.svg" alt="{{ site.name }}">
				</a>
			</div>
			{% if headermenu %}
			<div class="col-auto d-none d-lg-flex align-items-center">
				<nav class="primary-navigation" aria-label="Primary navigation">
					{% include "partials/menu-dropdown.twig" with {'items': headermenu.get_items} %}
				</nav>
			</div>
			{% endif %}
		</div>
	</div>
</header>

{% if headermenu %}
<!-- Hamburger menu button -->
<button id="mobilemenubtn" class="d-lg-none" aria-label="Toggle navigation" aria-controls="mobilemenu" aria-expanded="false">
	<span class="lines" aria-hidden="true">
		<span></span>
		<span></span>
		<span></span>
	</span>
</button>

<!-- Mobile menu -->
<nav class="mobilemenu" id="mobilemenu" aria-label="Mobile navigation">
	<ul class="menu-items">
		{% include "partials/menu.twig" with {'items': mobielmenu.get_items} %}
	</ul>
</nav>
{% endif %}