{#
Icon Component

Usage:
{{ icon({ icon: 'check', style: 'light', library: 'fontawesome', class: 'extra-class', container_height: 24, container_width: 40 }) }}

Parameters:
- icon (string, required): Naam van het icoon-bestand.
- style (string, optional): Stijlmap binnen de library. Standaard 'solid'.
- library (string, optional): Naam van de icon-library. Standaard 'fontawesome'.
- container_height (int|string, optional): Hoogte van de container. Standaard 30.
- container_width (int|string, optional): Breedte van de container. Standaard gelijk aan de hoogte.
- class (string, optional): Extra CSS-klassen voor de container.
#}

<span class="{{ class }}"{% if container_width != 'auto' or container_height != 'auto' %} style="{% if container_width != 'auto' %}width: {{ container_width }};{% endif %}{% if container_height != 'auto' %} height: {{ container_height }};{% endif %}"{% endif %}>
    {{ svg|raw }}
</span>
