{% if is_front_page %}
	<section class="strook-banner bg-dark text-white d-flex align-items-center">
		{% if post.banner_weergave == 'video' and post.banner_vimeo_id %}
			<div class="achtergrond video-container">
				<iframe src="https://player.vimeo.com/video/{{ post.banner_vimeo_id }}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1"
						frameborder="0"
						allow="autoplay; fullscreen"
						allowfullscreen>
				</iframe>
			</div>
		{% else %}
			<div class="achtergrond bg-cover" style="background-image: url('{{ post.banner_afbeelding.url }}')"></div>
		{% endif %}

		<button class="js-scrollnextsection btn btn-outline-light btn-round"> 
			<i class="fal fa-arrow-down"></i>
		</button>

		<div class="content w-100">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-7">
						{{ heading(post.banner_titel, {
							   level: 'h1',
							   class: 'mb-3',
							   inview_animation: 'typewriter'
						   }) }}
						{{ text(post.banner_tekst, {
						   class: 'lead',
						   inview_animation: 'fade-in'
						}) }}
						{{ button(post.banner_link, {
						   style: 'primary',
						   size: 'lg'
						}) }}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}