{% if post.hero_tonen %}
	<section class="strook-hero bg-dark text-white d-flex align-items-center">
		{% if post.hero_weergave == 'video' and post.hero_vimeo_id %}
			<div class="achtergrond video-container">
				<iframe src="https://player.vimeo.com/video/{{ post.hero_vimeo_id }}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1"
						frameborder="0"
						allow="autoplay; fullscreen"
						allowfullscreen>
				</iframe>
			</div>
		{% else %}
			<div class="achtergrond bg-cover" style="background-image: url('{{ post.hero_afbeelding.url }}')"></div>
		{% endif %}

		<button class="js-scrollnextsection btn btn-outline-light btn-round"> 
			{{ icon({ 
				icon: 'arrow-down', 
				style: 'light', 
				library: 'fontawesome', 
				class: 'arrow',
				container_height: 20, 
				container_width: 20 
			}) }}
		</button>

		<div class="content w-100">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-9">
						{{ heading(post.hero_titel, {
							   level: 'h1',
							   class: 'mb-5',
							   inview_animation: 'word-rise',
							   inview_animation_speed: 1
						   }) }}
						{{ text(post.hero_tekst, {
						   class: 'lead',
						   inview_animation: 'fade-in',
						   inview_animation_speed: 0.5
						}) }}
						{{ button(post.hero_link, {
						   style: 'primary',
						   size: 'lg'
						}) }}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
