{# 
Button Component

Gebruik:
{{ button(button_field, params) }}

Parameters:
- button_field (array, vereist): Data voor de knop, met:
  - url (string, vereist): De URL van de knop.
  - title (string, optioneel): De tekst op de knop. Standaard: 'Klik hier'.
  - target (string, optioneel): Het target-attribuut (bijv. '_blank', '_self'). Standaard: '_self'.

- params (optioneel): Kan zowel een **string** als een **array** zijn:
     - style (string, optioneel): Bootstrap-stijl ('primary', 'secondary', 'outline-primary', etc.). Standaard: 'primary'.
     - size (string, optioneel): Bootstrap-grootte ('lg', 'sm', etc.). Standaard: geen grootte.
     - icon (string, optioneel): Font Awesome-icoonnaam (bijv. 'arrow-right').
     - icon_position (string, optioneel): Positie van het icoon ('before' of 'after'). Standaard: 'before'.
     - icon_style (string, optioneel): Font Awesome-stijl ('light', 'solid', 'brands'). Standaard: 'light'.
     - target (string, optioneel): Overschrijft de target van button_field indien opgegeven.

Voorbeelden:
1. **Eenvoudige knop:**
  {{ button(item.link) }}

2. **Knop met opties:**
  {{ button(item.link, {
    style: 'outline-primary',
    class: 'mb-4'
  }) }}
   
2. **Knop met alle opties:**
  {{ button(item.link, {
      title: 'Meer informatie',
      style: 'outline-primary',
      size: 'lg',
      icon: 'arrow-right',
      icon_position: 'after',
      icon_style: 'solid',
      target: '_blank',      
      class: 'extra-css-class'
  }) }}
   
#}

<a href="{{ url | default('#') }}" target="{{ target }}" class="{{ style_class }}">
  {% set icon_prefix = {
    'solid': 'fas',
    'regular': 'far',
    'light': 'fal',
    'brands': 'fab'
  }[icon_style] | default('fas') %}
  
  {% if icon and icon_position == 'before' %}
    <i class="{{ icon_prefix }} fa-{{ icon }}"></i>
  {% endif %}

  <span>{{ title | default('Klik hier') }}</span>

  {% if icon and icon_position == 'after' %}
    <i class="{{ icon_prefix }} fa-{{ icon }}"></i>
  {% endif %}
</a>